langchain==0.1.14
langchain-core==0.1.33
langchain-openai==0.0.8
openai
pillow
pandas
openpyxl          
tiktoken          
regex
et_xmlfile
pdf2image
fuzzywuzzy
python-Levenshtein
fastapi
uvicorn[standard]
python-multipart
pydantic
python-dotenv